body{
    background-color: lightyellow;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 24px;
}

h3{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:rgb(56, 14, 0);
    margin: 8px;
    margin-top: 16px;
}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color:rgb(56, 14, 0);
    margin-bottom: 32px;
}

p{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    
    margin: 8px;
    margin-bottom: 16px;
    color:rgb(56, 14, 0);

}

.banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
}

img{
    display: block;
    margin: 48px auto;
    width: 300px;
    height: auto;
    border: 8px solid brown;
    
}

ul.homepage-recipes{
    text-decoration: none;
    list-style: inside;
    text-align: center;
    color: rgb(56, 14, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

ul{
    list-style:inside;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;

    color:rgb(56, 14, 0);
}

ol{
    margin:8px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    color:rgb(56, 14, 0);
}

.button-container{
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button{
    padding: 8px;
    background-color: rgb(56, 14, 0);
    color:lightyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    margin: 16px;
}