body{
    background-color: lightyellow;
    margin-left: 10%;
    margin-right: 10%;
}

h3{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:rgb(56, 14, 0);
}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color:rgb(56, 14, 0);
}

p{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size:16px;
    color:rgb(56, 14, 0);
}

.banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

ul.homepage-recipes{
    text-decoration: none;
    list-style: inside;
    text-align: center;
    color: rgb(56, 14, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

ul{
    list-style:inside;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size:16px;
    color:rgb(56, 14, 0);
}

ol{
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size:16px;
    color:rgb(56, 14, 0);
}